<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>

        <% include partials/header.ejs %>
        
        <!-- content here!! -->

        <h1>About</h1>
        <p>This is about</p>
    
        <% include partials/footer.ejs %>
    </body>
</html>
