<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/header.ejs %>
        
        <!-- content here!! -->
        <h1>Index</h1>
        <p>This is index</p>
    
        <% include partials/footer.ejs %>
    </body>
</html>
